.PlayerImage {
  display: flex;
  align-self: center;
  margin: 0 5px;
  background: #FFFFFF;
  border-radius: 10px;
  height: 350px;
  width: auto;
}

.PlayerImage img{
  width: inherit;
  border: 2px solid black;
  border-radius: 10px;
}