.PlayerImage {
  display: flex;
  align-self: center;
  margin: 15px;
  background: #FFFFFF;
  border-radius: 10px;
  height: 275px;
  width: auto;
}

.PlayerImage img{
  width: auto;
  border: 2px solid black;
  border-radius: 10px;
  
}