.PlayerDescription {
  width: 400px;
  height: auto;
  background-color: #A9A9A9;
  display: block;
  text-align: left;
  border-radius: 10px;
  margin: 15px;
}

.PlayerDescription div {
  margin: 15px;
}