.PlayerSelector {
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;  
}

.PlayerSelector select{
  display: none; /*hide original SELECT element:*/
  background-color: DodgerBlue;
}

.dd_wrapper {
  display: block;
  justify-content: center;
  text-align: left;
  width: 700px;
  border-radius: 2px;

}

.dd_header {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FF3B3F;
  border: 1px solid black;
  border-top-left-radius: 1.5px;
  border-top-right-radius: 1.5px;

}

.dd_header svg {
 margin: 15px;
}

.list{
  background: white;
  width: 700px;
  height: auto;
  list-style-type: none;
  justify-content: center;
  padding: inherit;
  margin: 0;
  position: absolute;
  border: 1px solid black;
  border-bottom-left-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
}

.listitem {
  list-style-type: none;
  margin: 10px;
  background: white;
  position: relative;
  width: auto;
}

.dd_headertitle {
  height: 30px;
  width: auto;
  align-items: center;
  display:flex;
  margin: 15px;
}

.ok {
  justify-content: center;
  display: flex;
  
}