.NavBar {
  display: flex;
  height: 80px;
  width: auto;
  background: WHITE;
  margin: auto 0;
  margin-top: 0;
}

.NavBar a {
  width:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  height:100%;
  color:#FF3B3F; 
}

.NavBar a:hover {
  background: #CAEBF2;
}

.NavBar a:focus { 
  text-decoration: none; 
}

.NavBar a:active {
  background: #CAEBF2;
}
